doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gulp Starter
    link(rel='stylesheet', href='css/main.css')
  body
    h1.main-header Hello My Friend :)
    script(src='js/script.min.js')
